<article id="COMPONENT_News" ui-view class="container-fluid">
    <div class="page-header">
        <button type="button" class="btn btn-success pull-right" ui-sref=".create"><i class="fa fa-plus-circle"></i> Create New</button>
        <h3>News Articles</h3>
    </div>
    <div class="row" ng-if="news.newsArticles">
        <div class="col-md-6 news-preview" ng-repeat="article in news.newsArticles">
            <div class="row news-preview-article" ng-click="news.goToArticle(article)">
                <div class="col-sm-4">
                    <figure>
                        <img class="img-responsive" ng-src="{{article.xp.image.URL}}" />
                    </figure>
                </div>
                <div class="col-sm-8">
                    <p class="text-primary">{{article.Timestamp | date:'shortDate'}}</p>
                    <b>{{article.Title}}</b>
                    <p>{{article.Body | newspreview}}</p>
                </div>
            </div>
        </div>
    </div>
</article>