<article id="COMPONENT_News" ui-view class="container-fluid">
    <div class="page-header">
        <button type="button" class="btn btn-success pull-right" ui-sref=".create"><i class="fa fa-plus-circle"></i> Create New</button>
        <h3>News Articles</h3>
    </div>
    <div class="row" ng-if="news.newsArticles">
        <div class="col-md-4" ng-repeat="article in news.newsArticles">
            <div class="panel panel-default news-article-preview" ng-click="news.goToArticle(article)">
                <div class="panel-heading">
                    <b><span class="text-primary">{{article.Title}}</span></b>
                    <small class="pull-right">{{article.Timestamp | date:'shortDate'}}</small>
                </div>
                <div class="panel-body">
                    <span ng-bind-html="article.Body"></span>
                </div>
            </div>
        </div>
    </div>
</article>